[user]
	name = Eric Woolsey
	email = ewoolsey@ualberta.ca
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
	submodule = log
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = "nvim -f -c \"Gdiffsplit!\" \"$MERGED\""
[mergetool]
	prompt = false
[submodule]
	recurse = true
	fetchJobs = 10
	fethJobs = 10
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	open = "!f(){ open `git remote -v | awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#http://#' -e 's@com:@com/@'`| head -n1; }; f"
[init]
	defaultBranch = master
[core]
	hooksPath = ~/.githooks
[clone]
	recurseSubmodules = true

; 1password commit signing
[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGzqJNL08ihLOQG2aREIRim+dj4pjQmwq+gPdVHfSHhj
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
